html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #3e5869;
}

#index {
    height: 100%;
}

.app {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.list-room-chat {
    grid-column: span 4;
    background-color: #a99dd2;
    height: 84vh;
    overflow: auto;
}

.message-list {
    grid-column: span 6;
    background-color: #77bdbf;
    height: 84vh;
    overflow: auto auto;
}

.new-room-form {
    grid-column: span 4;
    height: 6vh;
}

.send-message {
    grid-column: span 6;
    height: 6vh;
}

.list-room {
    list-style: none;
    margin: 0;
    padding: 0;
}

.room>a {
    color: #73726e;
}

.new-room-form form,
.send-message form {
    height: 100%;
}

.new-room-form form input,
.send-message form input {
    padding: 0;
    margin: 0;
    border: none;
    height: 100%;
    width: 80%;
}

.new-room-form form button {
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
    width: 20%;
}

.send-message form input {
    padding: 0;
    margin: 0;
    border: none;
    height: 100%;
    width: 100%;
}

.roomactive a {
    color: #2483ca;
}

.roomactive {
    min-height: 50px;
    padding: 0px 30px;
    background-color: #d2c39d;
    font-size: 35px;
}

.room {
    min-height: 50px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
}

.room a {
    text-decoration: none;
}

.message-text {
    padding: 0px 20px;
    color: bisque;
}

.message-senderId {
    background-color: silver;
    color: white;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 15%;
}
.listHeader{
    list-style: none;
    display: flex;
    align-items: center;
    align-content: center;
    margin:0;
    padding:0;
    height: 10vh;
    background-color: cornflowerblue;
}
.listHeader li{
    width: 50%;
    text-align: center;
}
.listHeader li a{
    color:floralwhite;
}
.list-user{
    width: 100%;
}
table, th, td {
    border: 1px solid #00000014;
    text-align: center;
}
.header{
    background-color: burlywood;
    color: black;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {    background-color: #73726e;
    color: #ffffff;}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
}
.pagination{
    width: 100%;
}
.pagination ul{
    list-style-type: none;

}
.active{

}